<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exchange_project.Properties.Settings.Db_ExchangeConnectionString"
            connectionString="Data Source=DESKTOP-4CCALSF\SQLEXPRESS01;Initial Catalog=Db_Exchange;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>